* {
    padding: 0px;
    margin: 0px;
    user-select: none;
}

a {
    text-decoration: none;
}

body {
    margin : 0px;
    padding: 0px;
}

header {
    text-align: center;
    background-color: #20B2AA;
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    margin: 30px;
    padding: 0px;
    text-align: center;
}

li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    display: inline;
}

li:hover {
    color: black;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 4px;
    border: none;
    background-color: #778899;
    color: #fff;
    cursor: pointer;
    border-radius: 45px;
}

.textview {
    width: 205px;
    margin: 5px;
    font-size: 25px;
    border: none;
    font-weight: bold;
    color: #1a0430;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px 1px #20B2AA;
}

.main {
    position: absolute;
    background: #20B2AA;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 15px;
}

.button:hover {
    background-color: #778899;
    box-shadow: -2px 3px 7px #B0C4DE;
}

